.landing-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  height: 100vh;
}
.landing-container .form-container {
  background-color: rgba(68, 68, 136, 0.1);
  place-self: stretch;
  display: grid;
}
.landing-container .form-container .form {
  place-self: center;
  display: grid;
  gap: 16px;
}
.landing-container img {
  place-self: center;
}

.main-container-navbar {
  display: block;
  height: 100%;
}
.main-container-navbar .columns {
  margin: 0;
}

.main-content-navbar {
  margin-left: 5rem;
  height: 100%;
}

.page {
  width: 100%;
}

.page-sidemenu {
  display: grid;
  gap: 32px;
  grid-template-columns: minmax(256px, auto) 1fr;
}

.side-menu-container {
  place-self: stretch;
}

.home-container .home-card {
  padding-right: 32px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 1.5em;
}
.home-container .home-card .title {
  grid-column-end: span 2;
  place-self: center;
}
.home-container .home-card .image {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 8px;
}
.home-container .home-card p {
  min-width: 8em;
  text-align: justify;
}
.home-container .meteor-title-container {
  margin: auto;
}
.home-container .meteor-title-container .meteor-title {
  background: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 7em;
  font-weight: bold;
  margin: 16px;
  color: transparent;
}
.home-container p, .home-container .scrollme-container {
  font-size: 1.5em;
}

.page-content {
  place-self: stretch;
}

.need-activation-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
  gap: 64px;
}
.need-activation-container > .message {
  display: flex;
  text-align: center;
  place-self: center;
}
.need-activation-container > .message > .message-body {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.user-id-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px;
}
.user-id-card > .avatar {
  grid-row-end: span 2;
}
.user-id-card > .user-infos {
  grid-column-start: 2;
}
.user-id-card > .user-settings {
  place-self: start;
  grid-column-start: 2;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

ul, li {
  margin: 0;
  padding: 0;
}

.hero {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.one-screen-height {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
}

.text-light p,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light .title,
.text-light .fa,
.text-light .box {
  color: #ededed !important;
}

.button {
  margin: 0 4px;
}

.table td {
  vertical-align: middle;
}

.modal-content, .modal-card {
  width: 70%;
}

.glass {
  background-color: transparent !important;
  backdrop-filter: blur(10px) brightness(90%);
}

.inline {
  display: inline-block;
}

.evenshadow {
  box-shadow: 0 0 1em 0.125em rgba(16, 16, 16, 0.15);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.center {
  justify-content: center;
}
.flex.even {
  justify-content: space-evenly;
}
.flex.flex-between {
  justify-content: space-between;
}
.flex.align {
  align-items: center;
}
.flex.flex-column {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.pointable {
  cursor: pointer;
}

.padded {
  padding: 48px 32px 48px 64px;
}

.margined {
  margin: 48px 32px 48px 64px;
}

.margined-auto {
  margin: auto;
}

.margined4 {
  margin: 4px;
}

.margined8 {
  margin: 8px;
}

.margined16 {
  margin: 16px;
}

.margined32 {
  margin: 32px;
}

.margined64 {
  margin: 64px;
}

.margined128 {
  margin: 128px;
}

.margined256 {
  margin: 256px;
}

.margined-top8 {
  margin-top: 8px;
}

.margined-bottom8 {
  margin-bottom: 8px;
}

.margined-left8 {
  margin-left: 8px;
}

.margined-right8 {
  margin-right: 8px;
}

.margined-top16 {
  margin-top: 16px;
}

.margined-bottom16 {
  margin-bottom: 16px;
}

.margined-left16 {
  margin-left: 16px;
}

.margined-right16 {
  margin-right: 16px;
}

.margined-top32 {
  margin-top: 32px;
}

.margined-bottom32 {
  margin-bottom: 32px;
}

.margined-left32 {
  margin-left: 32px;
}

.margined-right32 {
  margin-right: 32px;
}

.margined-top64 {
  margin-top: 64px;
}

.margined-bottom64 {
  margin-bottom: 64px;
}

.margined-left64 {
  margin-left: 64px;
}

.margined-right64 {
  margin-right: 64px;
}

.margined-top128 {
  margin-top: 128px;
}

.margined-bottom128 {
  margin-bottom: 128px;
}

.margined-left128 {
  margin-left: 128px;
}

.margined-right128 {
  margin-right: 128px;
}

.margined-top256 {
  margin-top: 256px;
}

.margined-bottom256 {
  margin-bottom: 256px;
}

.margined-left256 {
  margin-left: 256px;
}

.margined-right256 {
  margin-right: 256px;
}

.padded-top8 {
  padding-top: 8px;
}

.padded-bottom8 {
  padding-bottom: 8px;
}

.padded-left8 {
  padding-left: 8px;
}

.padded-right8 {
  padding-right: 8px;
}

.padded-top16 {
  padding-top: 16px;
}

.padded-bottom16 {
  padding-bottom: 16px;
}

.padded-left16 {
  padding-left: 16px;
}

.padded-right16 {
  padding-right: 16px;
}

.padded-top32 {
  padding-top: 32px;
}

.padded-bottom32 {
  padding-bottom: 32px;
}

.padded-left32 {
  padding-left: 32px;
}

.padded-right32 {
  padding-right: 32px;
}

.padded-top64 {
  padding-top: 64px;
}

.padded-bottom64 {
  padding-bottom: 64px;
}

.padded-left64 {
  padding-left: 64px;
}

.padded-right64 {
  padding-right: 64px;
}

.padded-top128 {
  padding-top: 128px;
}

.padded-bottom128 {
  padding-bottom: 128px;
}

.padded-left128 {
  padding-left: 128px;
}

.padded-right128 {
  padding-right: 128px;
}

.padded-top256 {
  padding-top: 256px;
}

.padded-bottom256 {
  padding-bottom: 256px;
}

.padded-left256 {
  padding-left: 256px;
}

.padded-right256 {
  padding-right: 256px;
}

.image.is-192x192 {
  height: 192px;
  width: 192px;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.image.is-512x512 {
  height: 512px;
  width: 512px;
}

.data-display {
  display: grid;
  grid-template-columns: auto 1fr;
}
.data-display :nth-child(1n) {
  place-self: center end;
}
.data-display :nth-child(2n) {
  place-self: center start;
}
.data-display > p {
  margin-bottom: 0 !important;
}
.data-display > .tag, .data-display .tags {
  margin-bottom: 0 !important;
}

.sticky {
  position: sticky;
  top: 16px;
}

.hidden {
  display: none !important;
}

.fullwidth {
  width: 100%;
}

.flexwrap {
  flex-wrap: wrap;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(20px);
  }
}
.bounce {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/
.navbar {
  height: 100%;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 1px 0 5px black;
  width: 5rem;
  transition: width 500ms ease;
}
.navbar hr {
  text-align: center;
  width: 70%;
  margin: 1rem auto;
}
.navbar:hover {
  transition: backdrop-filter 500ms ease;
  transition: width 500ms ease;
  backdrop-filter: blur(10px) brightness(60%);
  width: 16rem;
}
.navbar:hover .link-text {
  display: block !important;
}
.navbar:hover .nav-link-logo .svg {
  opacity: 0;
}
.navbar .logo .nav-link-logo .link-text {
  color: white;
  letter-spacing: 0.2ch;
}
.navbar .logo .nav-link-logo .svg {
  height: 2em;
}
.navbar .navbar-nav {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
.navbar .navbar-nav .logo {
  width: 100%;
  margin-top: 16px;
}
.navbar .navbar-nav .logo .nav-link {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 5rem;
  text-transform: uppercase;
  align-items: center;
  height: 3.6rem;
}
.navbar .navbar-nav .logo .nav-link .link-text {
  text-align: center;
  display: none;
  margin-left: 4rem;
}
.navbar .navbar-nav .logo .nav-link .svg {
  text-align: center;
  transition: transform 500ms;
  margin: 0.5rem 0;
  width: 5rem;
  color: white;
}
.navbar .navbar-nav .logo .nav-link .svg .fa-primary {
  fill: #2185d0;
}
.navbar .navbar-nav .logo .nav-link .svg .fa-secondary {
  fill: #00b5ad;
}
.navbar .navbar-nav .nav-item {
  list-style: none;
  cursor: pointer;
}
.navbar .navbar-nav .nav-item .nav-link {
  filter: grayscale(100%) opacity(0.8);
  text-decoration: none;
  display: grid;
  grid-template-columns: 5rem;
  align-items: center;
  height: 3.6rem;
}
.navbar .navbar-nav .nav-item .nav-link .link-text {
  white-space: nowrap;
  display: none;
  grid-column-start: 2;
  margin-left: 0 1.5rem;
  color: white;
}
.navbar .navbar-nav .nav-item .nav-link .fafree {
  width: 5rem !important;
  text-align: center;
  margin: 0.7rem 0;
  width: 5rem;
  font-size: 1.8em;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  filter: grayscale(0%) brightness(1.2) opacity(1);
  transition: filter 200ms ease;
  transition: background-color 200ms ease;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar .navbar-nav .nav-item .nav-link:not(:hover) .fafree {
  color: white;
}
.navbar .navbar-nav .nav-item:last-child {
  margin-top: auto;
  margin-bottom: 8px;
}

.fafree.green {
  color: #21ba45;
}

.fafree.blue {
  color: #2185d0;
}

.fafree.red {
  color: #db2828;
}

.fafree.yellow {
  color: #fbbd08;
}

.fafree.orange {
  color: #f2711c;
}

.fafree.teal {
  color: #00b5ad;
}

.fafree.olive {
  color: #b5cc18;
}

.fafree.purple {
  color: #a333c8;
}

.fafree.violet {
  color: #6435c9;
}

.fafree.pink {
  color: #e03997;
}

.fafree.grey {
  color: #767676;
}

.fafree.brown {
  color: #a5673f;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/