.landing-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  height: 100vh;
}
.landing-container .form-container {
  background-color: rgba(68, 68, 136, 0.1);
  place-self: stretch;
  display: grid;
}
.landing-container .form-container .form {
  place-self: center;
  display: grid;
  gap: 16px;
}
.landing-container img {
  place-self: center;
}

.main-container-navbar {
  display: block;
  height: 100vh;
}

.main-content-navbar {
  margin-left: 5rem;
  height: 100%;
  padding: 48px 32px 48px 64px;
}

.page {
  width: 100%;
}

.page-sidemenu {
  display: grid;
  gap: 32px;
  grid-template-columns: minmax(256px, auto) 1fr;
}

.side-menu-container {
  place-self: stretch;
}

.home-container .home-card {
  padding-right: 32px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 1.5em;
}
.home-container .home-card .title {
  grid-column-end: span 2;
  place-self: center;
}
.home-container .home-card .image {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 8px;
}
.home-container .home-card p {
  min-width: 8em;
  text-align: justify;
}

.page-content {
  place-self: stretch;
}

.need-activation-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
  gap: 64px;
}
.need-activation-container > .message {
  display: flex;
  text-align: center;
  place-self: center;
}
.need-activation-container > .message > .message-body {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  min-height: 100vh;
  min-width: 100vw;
}

ul, li {
  margin: 0;
  padding: 0;
}

.text-light > p, h1, h2, h3, h4, h5, h6, .title, .box {
  color: #ededed !important;
}

.button {
  margin: 0 4px;
}

.table td {
  vertical-align: middle;
}

.modal-content, .modal-card {
  width: 70%;
}

.meteor-title {
  background: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 3em;
  margin: 16px;
  color: transparent;
}

.glass {
  background-color: transparent;
  backdrop-filter: blur(10px) brightness(90%);
}

.inline {
  display: inline-block;
}

.evenshadow {
  box-shadow: 0 0 1em 0.125em rgba(16, 16, 16, 0.15);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.centered {
  justify-content: center;
  align-items: center;
}

.pointable {
  cursor: pointer;
}

.margined {
  margin: auto;
}

.margined4 {
  margin: 4px;
}

.margined8 {
  margin: 8px;
}

.margined16 {
  margin: 16px;
}

.margined32 {
  margin: 32px;
}

.margined64 {
  margin: 64px;
}

.margined128 {
  margin: 128px;
}

.margined256 {
  margin: 256px;
}

.spaced-from-top8 {
  margin-top: 8px;
}

.spaced-from-bottom8 {
  margin-bottom: 8px;
}

.spaced-from-left8 {
  margin-left: 8px;
}

.spaced-from-right8 {
  margin-right: 8px;
}

.spaced-from-top16 {
  margin-top: 16px;
}

.spaced-from-bottom16 {
  margin-bottom: 16px;
}

.spaced-from-left16 {
  margin-left: 16px;
}

.spaced-from-right16 {
  margin-right: 16px;
}

.sticky {
  position: sticky;
  top: 16px;
}

.hidden {
  display: none !important;
}

.fullwidth {
  width: 100%;
}

.flexwrap {
  flex-wrap: wrap;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/
.navbar {
  height: 100%;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 1px 0 5px black;
  width: 5rem;
  transition: width 500ms ease;
}
.navbar hr {
  text-align: center;
  width: 70%;
  margin: 1rem auto;
}
.navbar:hover {
  transition: backdrop-filter 500ms ease;
  transition: width 500ms ease;
  backdrop-filter: blur(10px) brightness(60%);
  width: 16rem;
}
.navbar:hover .link-text {
  display: block !important;
}
.navbar:hover .nav-link-logo .svg {
  opacity: 0;
}
.navbar .logo .nav-link-logo .link-text {
  color: white;
  letter-spacing: 0.2ch;
}
.navbar .logo .nav-link-logo .svg {
  height: 2em;
}
.navbar .navbar-nav {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
.navbar .navbar-nav .logo {
  width: 100%;
  margin-top: 16px;
}
.navbar .navbar-nav .logo .nav-link {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 5rem;
  text-transform: uppercase;
  align-items: center;
  height: 3.6rem;
}
.navbar .navbar-nav .logo .nav-link .link-text {
  text-align: center;
  display: none;
  margin-left: 4rem;
}
.navbar .navbar-nav .logo .nav-link .svg {
  text-align: center;
  transition: transform 500ms;
  margin: 0.5rem 0;
  width: 5rem;
  color: white;
}
.navbar .navbar-nav .logo .nav-link .svg .fa-primary {
  fill: #2185d0;
}
.navbar .navbar-nav .logo .nav-link .svg .fa-secondary {
  fill: #00b5ad;
}
.navbar .navbar-nav .nav-item {
  list-style: none;
  cursor: pointer;
}
.navbar .navbar-nav .nav-item .nav-link {
  filter: grayscale(100%) opacity(0.8);
  text-decoration: none;
  display: grid;
  grid-template-columns: 5rem;
  align-items: center;
  height: 3.6rem;
}
.navbar .navbar-nav .nav-item .nav-link .link-text {
  white-space: nowrap;
  display: none;
  grid-column-start: 2;
  margin-left: 0 1.5rem;
  color: white;
}
.navbar .navbar-nav .nav-item .nav-link .fafree {
  width: 5rem !important;
  text-align: center;
  margin: 0.7rem 0;
  width: 5rem;
  font-size: 1.8em;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  filter: grayscale(0%) brightness(1.2) opacity(1);
  transition: filter 200ms ease;
  transition: background-color 200ms ease;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar .navbar-nav .nav-item .nav-link:not(:hover) .fafree {
  color: white;
}
.navbar .navbar-nav .nav-item:last-child {
  margin-top: auto;
  margin-bottom: 8px;
}

.fafree.green {
  color: #21ba45;
}

.fafree.blue {
  color: #2185d0;
}

.fafree.red {
  color: #db2828;
}

.fafree.yellow {
  color: #fbbd08;
}

.fafree.orange {
  color: #f2711c;
}

.fafree.teal {
  color: #00b5ad;
}

.fafree.olive {
  color: #b5cc18;
}

.fafree.purple {
  color: #a333c8;
}

.fafree.violet {
  color: #6435c9;
}

.fafree.pink {
  color: #e03997;
}

.fafree.grey {
  color: #767676;
}

.fafree.brown {
  color: #a5673f;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/