/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/
/*BUTTON*/
.btn {
  font-family: "Montserrat" sans-serif;
  font-weight: 500;
  opacity: 0.8;
  border-radius: 3px;
  font-size: 16px;
  padding: 8px 16px;
  margin: 8px;
  background-color: #e0e1e2;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #f1f2f5;
}
.btn:hover {
  background-color: #cacbcd;
}
.btn.base {
  color: #2d3436;
}
.btn.icon {
  position: relative;
  left: 0;
  right: 0;
}
.btn.icon.right {
  padding-right: 3.2em;
}
.btn.icon.right .fafree {
  border-radius: 0 3px 3px 0;
  left: auto;
  right: 0;
}
.btn.icon.left {
  padding-left: 3.2em;
}
.btn.icon.left .fafree {
  border-radius: 3px 0 0 3px;
  left: 0;
  right: auto;
}
.btn.icon.only {
  padding-left: 1em;
}
.btn.icon.only .fafree {
  border-radius: 3px;
}
.btn .fafree {
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  margin: 0;
  width: 2.5em;
  background-color: rgba(0, 0, 0, 0.12);
}
.btn.only .fafree {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  display: inline;
  text-align: center;
}

.btn.green {
  background-color: #21ba45;
}
.btn.green:hover {
  background-color: #16ab39;
}

.btn.blue {
  background-color: #2185d0;
}
.btn.blue:hover {
  background-color: #1678c2;
}

.btn.red {
  background-color: #db2828;
}
.btn.red:hover {
  background-color: #d01919;
}

.btn.yellow {
  background-color: #fbbd08;
}
.btn.yellow:hover {
  background-color: #eaae00;
}

.btn.orange {
  background-color: #f2711c;
}
.btn.orange:hover {
  background-color: #f26202;
}

.btn.teal {
  background-color: #00b5ad;
}
.btn.teal:hover {
  background-color: #009c95;
}

.btn.olive {
  background-color: #b5cc18;
}
.btn.olive:hover {
  background-color: #a7bd0d;
}

.btn.purple {
  background-color: #a333c8;
}
.btn.purple:hover {
  background-color: #9627ba;
}

.btn.violet {
  background-color: #6435c9;
}
.btn.violet:hover {
  background-color: #5829bb;
}

.btn.pink {
  background-color: #e03997;
}
.btn.pink:hover {
  background-color: #e61a8d;
}

.btn.grey {
  background-color: #767676;
}
.btn.grey:hover {
  background-color: #838383;
}

.btn.brown {
  background-color: #a5673f;
}
.btn.brown:hover {
  background-color: #975b33;
}

.btn.black {
  background-color: #1b1c1d;
}
.btn.black:hover {
  background-color: #27292a;
}

/*COLORS FROM FLAT UI COLOR PALETTE 1*/
/*COLORS FROM SEMANTIC UI REACT BUTTONS*/
/*3 COLORS THEME*/
/*SELECTED COLORS*/
/*INPUT*/
.input.text {
  font-size: 14px;
  padding: 8px 16px;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.side-menu ul {
  margin: 0;
  padding: 0;
}
.side-menu ul li {
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  list-style: none;
  border-bottom: 3px solid transparent;
}
.side-menu ul li.active {
  border-color: #2185d0;
  background-color: rgba(0, 0, 0, 0.05);
}
.side-menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.table {
  width: 100%;
  border-spacing: 0px 8px;
}
.table thead td {
  background-color: #D8D8D8;
  border-bottom: 2px solid;
}
.table td {
  padding: 8px;
  background-color: #E8E8E8;
}
.table td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #D8D8D8;
}
.table td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.table tbody tr:hover td {
  filter: brightness(0.95);
}