@import '../../../node_modules/bulma/sass/utilities/initial-variables.sass';

.landing-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    height: 100vh;
    & .form-container{
        background-color: rgba(#448,.1);
        place-self: stretch;
        display: grid;
        & .form{
            place-self: center;
            display: grid;
            gap:16px
        }
    }
    & img{
        place-self: center;
    }
}
.main-container-navbar{
    display: block;
}
.main-content-navbar{
    margin-left: 5rem;
    padding: 48px 32px 48px 64px;
}
.page{
    width: 100%;
}
.page-sidemenu{
    display: grid;
    gap:32px;
    grid-template-columns: minmax(256px,auto) 1fr;
}
.side-menu-container{
    place-self: stretch;
}
.page-content{
    place-self: stretch;
}
